<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a111111.diancan">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smile"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".welcome" />
        <activity android:name=".ctd.inside.diningroom" />
        <activity android:name=".gld.manager" />
        <activity
            android:name=".gld.inside.cdmanager"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity
            android:name=".gld.inside.gkmanager"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".gkd.manager" />
        <activity
            android:name=".gkd.inside.cdmanager"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity
            android:name=".ctd.manager"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".hcd.manager" />
        <activity android:name=".syd.manager" />
        <activity android:name=".syd.inside.sycom" />
        <activity android:name=".hcd.inside.tjinfo" />
        <activity android:name=".hcd.inside.cpwc"></activity>
    </application>

</manifest>